.container {
    background-color: #cccccc;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.item {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    margin: 5px;
}

/* .container {
    display: flex;  or inline-flex 
    flex-direction: row | row-reverse | column | column-reverse;
    flex-wrap: nowrap | wrap | wrap-reverse;
    flex-flow: column wrap;
    justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
    align-items: stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;
    align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;

  } */

  /* .item {
    order: 5; //default is 0 
    flex-grow: 4; // default 0 
    flex-shrink: 3; // default 1 
    flex-basis:  | auto; // default auto 
    flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
    align-self: auto | flex-start | flex-end | center | baseline | stretch;

  } */

  /* Para mais Informações: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */